html { background-image: url(graphics/stucco.png); }
body, h1, h2, h3 {
  color: #555;
  font: normal 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 {
  margin: 0;
  color: #333;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 48px; }
h2 {
  font-size: 21px;
  font-weight: bold; }
h3 { font-size: 16px; }
p { margin: .5em 0; }
a { color: #333; }
a:hover, a.hover { color: #999; }

#content, #footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1024px; }

.share {
  position: absolute;
  top: 166px;
  right: 0;
  padding: 4px;
  background-color: rgba(200,200,200,.2);
  border: 2px dotted #ddd;
  border-right: 0;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px; }
  .share div {
    height: 64px;
    margin: 4px;
    text-align: center; }
  .share iframe {
    filter:alpha(opacity=45);
    filter: "alpha(opacity=45)";
    opacity: .45; }
    .share:hover iframe {
      filter:alpha(opacity=100);
      filter: "alpha(opacity=100)";
      opacity: 1; }

.intro {
  max-width: 80%;
  margin-bottom: 2em;
  font-size: 16px; }
  .intro a ~ a { font-weight: bold; }

.buttons {
  padding: 0 0 1em 0;
  color: #333;
  font-family: "Courier", monospace; }
  .buttons li {
    list-style: none;
    float: left;
    width: 254px; }
  .buttons div {
    float: left;
    padding: 4px 0; }
    .buttons div.hover { margin-left: -4px; }
  .buttons img {
    vertical-align: middle;
    height: 22px;
    width: 22px; }

#flash-test {
  width: 1px;
  height: 1px; }

#footer {
  padding: 1.5em 20px;
  background-color: rgba(200,200,200,.15);
  border-top: 3px dotted #ddd; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
  .clearfix:after { clear: both; }
  .clearfix { *zoom: 1; }

@media screen and (max-width: 640px) {
  .share {
    position: static;
    width: 180px;
    height: 70px;
    margin: 0 auto 2em auto;
    background: none;
    border: none; }
  .share div { float: left; }
  .share iframe {
    filter:alpha(opacity=100);
    filter: "alpha(opacity=100)";
    opacity: 1; }
}

/* jnotify */
.jnotify-container {
  position: fixed;
  top: 2px;
  right: 20px;
  max-width: 220px;
  z-index: 100000;

  /* set maximum number of notes to show */
  max-height: 270px;
  overflow-x: hidden;
  overflow-y: auto;
}
.jnotify-container .jnotify-notification {
  position: relative;
  margin-bottom: 5px;
}
.jnotify-container .jnotify-notification .jnotify-background {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4c4c4c;
  filter: alpha(opacity=40);
  -moz-opacity: 7.90;
  opacity: 0.40;
  z-index: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.jnotify-container .jnotify-notification a.jnotify-close,
.jnotify-container .jnotify-notification a.jnotify-close:link,
.jnotify-container .jnotify-notification a.jnotify-close:visited,
.jnotify-container .jnotify-notification a.jnotify-close:focus,
.jnotify-container .jnotify-notification a.jnotify-close:hover {
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 0 5px;
  font: 14px Arial,Helvetica,sans-serif;
  line-height: 1em;
  color: #fff;
  text-decoration: none;
  z-index: 3;
  cursor: pointer;
}
.jnotify-container .jnotify-notification .jnotify-message {
  position: relative;
  z-index: 2;
  padding: 10px;
  text-align: left;
  color: #fff;
  font: 14px Arial,Helvetica,sans-serif;
  line-height: 1.2em;
}
.jnotify-container .jnotify-notification .jnotify-message * {
  font-size: 1em;
}

/* notification type == "error" */
.jnotify-container .jnotify-notification-error .jnotify-background {
  background-color: #d79eac;
}
.jnotify-container .jnotify-notification-error .jnotify-close,
.jnotify-container .jnotify-notification-error .jnotify-message {
  color: #a72947 !important;
}

/* notification type == "warning" */
.jnotify-container .jnotify-notification-warning .jnotify-background {
  background-color: #fff7d1;
}
.jnotify-container .jnotify-notification-warning .jnotify-close,
.jnotify-container .jnotify-notification-warning .jnotify-message {
  color: #c2a928 !important;
}
